<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/newform', book: @book, user: @user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

      <table class="table">
        <tr>
          <td>
            <%= link_to user_path(@user.id) do %>
              <%= image_tag @bookdetail.user.get_profile_image,size: "40x40" %><br>
              <%= @bookdetail.user.name %>
            <% end %>
          </td>

          <td>
            <%= @bookdetail.title %>
          </td>

          <td>
            <%= @bookdetail.body %>
          </td>

          <% if @bookdetail.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@bookdetail.id), :class => 'btn btn-sm btn-success' %></td>
          <% end %>

          <% if @bookdetail.user == current_user %>
            <td><%= link_to "Destroy", book_path(@bookdetail.id), :class => 'btn btn-sm btn-danger', method: :delete, "data-confirm" => "本当に消しますか？" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>